<!DOCTYPE html>
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Some Website</title>
  </head>
  <body>
    <!-- <h1>{{pageTitle}}</h1> -->
    {{> header}}
    <p>{{screamIt welcomeMessage}}</p>
    <!-- <footer>
      Created By Rima - Copyright {{currentYear}}
    </footer> -->
    {{> footer}}
  </body>
</html>